@font-face {
    font-family: 'BNazanin’;
        src:url(‘fonts/BNazanin.ttf’) format(‘truetype’); 
}
.pack
{
    background-image: url('7.gif');
}

#ss
{
 margin:200px auto;
    margin-right: 500px;
    margin-left: 500px;
    
}
.form-control
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: BNazanin;
    
}
.checkbox
{
    margin-right: 20px;
    border-radius: 5px;
}
#sub
{
    background-color: #1A3F7A;
    color: white;
    margin-right: 50px;
 margin-left: 50px;
    text-align: center;
    display: block;
    width: 80px;

}
.navbar
{
    background-color:  #1A3F7A;
    color: white;
}
a
{
    height: 50px;
}
#link
{
    color: white;
}
.active
{
    color: black;
    background-color: white;
}
.active a
{
    color: black;
    display: block;
    background-color: white;
}
#nav
{
    margin-top: 10px;
    height: 70px;
    font-size: 17px;
}
.form-signin
{
    background-color: rgba(255,255,255,0.7);
    padding: 40px;
    padding-bottom: 60px;
    border: 4px;
    border-radius: 5px;
}
.footer
{
    margin-top: 300px;
    color: white;
    text-align: center;
    background-color:  #1A3F7A;
    height: 30px;
}
#panel-heading
{
    background-color: #5BBAE3;
}
#panel-footer
{
    background-color: #E6EFF2;
    padding: 10px;
}
#like
{
    width: 60px;
    height: 40px;
    margin: 0;
}
#page
{
    background-color: #5BBAE3;
    color: white;
}
.pages
{
    text-align: center;
}